[class^="danceWord"] {
    word-break: break-all;
    white-space: pre-wrap;
}

[class^="danceWord"] span {
    display: inline-block;
    opacity: 0;
    white-space: pre-wrap;
}

.danceWord-s6 .ele {
    -webkit-animation: a6 .5s ease-out forwards;
    -ms-animation: a6 .5s ease-out forwards;
    -moz-animation: a6 .5s ease-out forwards;
    -o-animation: a6 .5s ease-out forwards;
    animation: a6 .5s ease-out forwards;
}

@keyframes a6 {
    0% {
        opacity: 1;
        -webkit-transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        -moz-transform: scale(1.5, 1.5);
        -o-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-webkit-keyframes a6 {
    0% {
        opacity: 1;
        -webkit-transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        -moz-transform: scale(1.5, 1.5);
        -o-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-ms-keyframes a6 {
    0% {
        opacity: 1;
        -webkit-transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        -moz-transform: scale(1.5, 1.5);
        -o-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-moz-keyframes a6 {
    0% {
        opacity: 1;
        -webkit-transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        -moz-transform: scale(1.5, 1.5);
        -o-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@-o-keyframes a6 {
    0% {
        opacity: 1;
        -webkit-transform: scale(1.5, 1.5);
        -ms-transform: scale(1.5, 1.5);
        -moz-transform: scale(1.5, 1.5);
        -o-transform: scale(1.5, 1.5);
        transform: scale(1.5, 1.5);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
	